*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
.container{
	width: 1198px;
	margin: 0 auto;	
}

ul li{
	list-style: none;
	
}

/*

.shouye{
	width: 86px;
	height: 71px;
	background-color: rgb(247,90,83);

}
.banner{
	width: 100%;
	height: 459px;
	background:url("/images/banner.jpg") no-repeat ;
}*/

.nav {
	width: 100%;
	height: 102px;
	background-color: rgb(254,254,254);
}

.nav .logo , .nav .d1, .nav .d2, .nav .d3 {
	float: left;
}

.nav .logo {
	padding-top:16px;
}

.nav .d1 {
	font-family: "KaiTi";
	font-size: 56px;
	font-weight: bold;
	padding-top: 18px;
	color:#f65952;
}
.nav .d2 {
	line-height:29px;
	font-size:14px;
	color:#9a9899;
	margin:14px 0 0 24px;
}
.nav .d2 span {
	display: block;
}
.nav .d3{
	margin:14px 0 0 10px ;
}
.nav .d3 ul li {
	float: left;
	margin: 24px;
}
.d3.d4{
	width:86px;
	height:71px;
	background-color: rgb(247,90,83);
}
.banner{
	width: 100%;
	height: 460px;
	background:url("../images/banner.jpg") no-repeat ;
}
.guanggao{
	width: 100%;
	height: 385px;
	
}
.guanggao .d5{
	display:iline-block;
	text-align:center;
	font-size:24px;
	color:blank;
	margin: 40px;
}
.guanggao .d6{
	display: block;
	text-align:center;
	font-size:16px;
	color:#99a4c2;
	margin-top:-20px;
}
.d7 ul{
	margin-top:40px;
	float:left;
	
}
.d7 ul li{
	display: inline-block;
}
.d8{
	width: 100%;
	height: 544px;
	/*border:1px solid blue;*/
	background-color: #1a1b1f;
}
.d8 ul{
	display: block;
	text-align:center;
}
.d8 .l1{

	font-size:28px;
	color:#e1e3e2;
}
.d8 ul li.l2{
	margin-top:10px;
	font-size:14px;
	color:#e1e3e2;
}
/*.d8 .dd1{
	margin: 50px;
	margin-left:100px;
}*/
.d8 h3{
	text-align: center;
	margin-top:62px;
	color:red;
}
.d8 span{	
	display: inline-block;
	font-size:14px;
	line-height: 30px;
	margin-top:14px;
}
.d8 .d9 {
	width: 342px;
	height: 262px;
	background-color: #d1d1d1;
	display:inline-block;
	/*margin-left:150px;
	margin:30px;*/
	margin-top:100px; 

}
.d8 .d10 {
	width: 342px;
	height: 262px;
	background-color: #d1d1d1;
	display:inline-block;
	margin:0 60px; 
	/*margin:30px;*/
}
.d8 .d11 {
	width: 342px;
	height: 262px;
	background-color: #d1d1d1;
	display:inline-block;
	/*margin:30px;*/
}
.d12{
	width: 100%;
	height: 810px;
	background-color: #ffffff;
	border:1px solid green;
}
.d12 span{
	display: block;
	text-align: center;
}
.d12 span.s1{
	line-height: 26px;
	font-size: 26px;
	margin-top:52px; 
}
.d12 span.s2{
	line-height: 14px;
	font-size: 14px;
	color:#b099b3;
	margin:22px 0 34px ; 
}
.d12 .nav2{
	width: 800px;
	height: 40px;
	background-color: #ccc;
	border:1px solid pink;
	margin: 0 auto;
}
.d12 .nav2 ul{
	float: left;
}
.d12 .nav2 ul li{
	width: 200px;
	height: 40px;
	float: left;
	line-height: 40px;
	text-align: center;
}
.d12 .x{
	text-align: center;
	margin-top:15px; 
}
.d12 .x img{
	margin:15px;
}
.he{
	width: 100%;
	height: 350px;
	background-color: #f2f2f2;
	/*border:1px solid yellow;*/

}
.he .he1{
	display: inline-block;
	width: 360px;
	height: 350px;
	/*border:1px solid red;*/
}
.he .he2{
	display: inline-block;
	width: 360px;
	height: 350px;
	/*border:1px solid blue;*/
}
.he .he3{
	display: inline-block;
	width: 360px;
	height: 350px;
	/*border:1px solid pink;*/
}
.he .he1 {
	/*margin: 0px 50px 0px 100px;*/
	text-align: center;
}
.he .he2 {
	/*margin: 0px 20px 0px 20px;*/
	text-align: center;
}
.he .he3 {
	/*margin-left:50px;*/
	text-align: center;
}
.he .t1 {
	margin: 36px;
}
.he .t2 {
	margin: 36px;
}
.he .t3 {
	margin: 36px;
}
.he ul li{
	margin: 10px;
	font-size:16px;
	/*color:#f1f1f1;*/
	font-family: "KaiTi"
}
.he p{
	width: 120px;
	height: 30px;
	background-color: #f75a53;
	line-height: 30px;
	margin-left: 50px;
	margin-top:20px ;
}
/*footer*/
.footer{
	width: 100%;
	height: 138px;
	background-color: #363636;
	text-align: center;
	padding-top:22px;
}
.footer p{
	font-size:12px; 
	color:#727272;
	line-height: 30px;
}
.footer a{
	color: #727272;
	margin: 0 7px;
}
